<div class="container">
  <div class="page-header">
    <h1>Flights✈️</h1>
  </div>

  <%= render 'flights/listing' %>
  <div>
    <%= link_to 'View Transactions', list_transactions_flights_url %>
  </div>
</div>
